.container {
    max-width: 1420px;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    text-align: left;
    padding: 15px;
    opacity: .6;
    letter-spacing: 1px;
    display: inline-block;
}

p {
    display: inline-block;

}

#box {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.s4 {
    width: 300px;
}

.s6 {
    width: 440px;
}

.s8 {
    width: 590px;
}

.s10 {
    width: 730px;
}

#null_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 1.5rem;
}

#null_box select {
    max-width: fit-content;
    font-size: 1.3rem;
    padding: .5rem;
    border: 2px solid rgb(71, 160, 163);
    border-radius: 5px;
    background: rgba(71, 160, 163, 0.37);
}

#null_box select:focus {
    outline: none;
}

.card {
    width: 67px;
    height: 67px;
    background: rgba(60, 138, 141, 0.562);
    border: 1px solid rgb(60, 138, 141);
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(255, 255, 255, 0);
}

.view {
    font-size: 40px;
    color: rgb(255, 255, 255);
    /* transform: scale(1.1, 1.1); */
    transition-duration: 500ms;
    transform: rotateY(360deg);
}

.done {
    font-size: 40px;
    color: rgb(255, 255, 255);
    opacity: .6;
}
